/* CSS file for nigeria_states.html */

body{
	font-family: 'Helvetica';
}


h1 {
	width:100%;
	text-align: center;
	margin-top:auto;
	margin-bottom: 1em;
	color:green;
	font-size:24px;

}

h3 {
	width:100%;
	text-align: center;
	margin-top:auto;
	margin-bottom: 1em;
	color:green;
	font-size:16px;

}

body{
	display: inline;
	
}

body:before {
	content: ' ';
	position:absolute;
	width:100%;;
	height: 100%;
	top : 0;
	left : 0;
	display:block;
	background-image: url('img/rois_des_rois-1039085-unsplash.jpg'); 
	/* source  https://unsplash.com/photos/nGLpimqkyk4*/
	background-size: cover;
	opacity:0.35;	
	z-index : -1;		
}


#side_bar {
	display: inline-block;
	width:20%;
	height: 95%;
	background-color: beige;
	float:right;
	border-radius: 200px;
	padding-left:1%%;
	padding-right:1%;
	padding-top:10%;
	text-align: center;
	transform:
		translate(-20%,0%);
}

#main {
	width:70%;
	height: 100%;
	display: inline-block;
}

#map{
	display: inline-block;
	width:65%;
	height: 650px;
	margin:0px;
	padding:0px;
}

#dataDisplay {
	font-size:90px;
}

#map {
	transform:
		scale(0.9)
		translate(0%,-5%);
}

.footer {
	display: inline-block;
	padding: auto;
	margin:auto;
	text-align: center;
}

#colorLegend {
	width:2%;
	display: inline-block;
	margin:auto;
	height:80%;


}


#colorScaleLegend {
	display: inline-block;
	fill : url(#linear-gradient);
	margin:auto;
	width : 50%;
	height : 60%; 
	ry:10;
	z-index:23456789;
	float:left;



}

